@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
    --bg-color:           #1e1e1e;
    --text-color:         #0c6291;
    --text-second-color:  #f9ebe0;
}


body {
    background-color: var(--bg-color);
    color: var(--text-second-color);
    font-family: 'Roboto Mono', monospace;

}

/* NAV */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav h1 {
    color: var(--text-color);
    font-size: 5em;
}

nav ul {
    display: flex;
    gap: 2em;
    font-size: 1.5em;
}

/* MAIN */

main {
    margin-inline: 4em;
    height: 50vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section h1 {
    padding-inline: 2em 1em;
    width: fit-content;
    background-color: #a63446;
    font-size: 3em;
    color: var(--text-second-color);
}

section h1:after{
    content: "";
    animation: clignote 0.7s infinite linear;
    margin-left: 3px;
    width: 15px;
    height: 50px;
    position: relative;
    top: 10px;
    display: inline-block;
    background: rgb(255, 255, 255);;
  }
  @keyframes clignote {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

article p {
    font-size: 2em;
    margin-left: 4em;
    position: relative;
    left: 100%;
    transition:  left 2s ease-out;
    z-index: 1;
    flex: 1 0 550px;

}  

article img {
    z-index: 2;
    max-width: 50%;
    height: 50%;
}

.after-animation {
    left: 0%;
}

article {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

/* FOOTER */

footer  {
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    transition: opacity 2s ease-out;
    align-self: center;
}

.footer-after {
    opacity: 1;
}

footer img {
    width: 5em;
}

@media only screen and (max-width: 1216px) {
    main > * {
        margin-top: 2em;
    } 

    article p {
       margin-bottom: 2em;
       
       margin: auto 0;
    }

    article img {
        margin: 2em auto;
        
    }
    
}
/* Pour des écrans de moins de 600px */
@media only screen and (max-width: 600px) {

    ul {
        flex-wrap: wrap;
   
    }

    main {
      margin: 0;
    }
  
    article {
      flex-direction: column;
    }
  
    article img {
      max-width: 100%;
      height: auto;
    }
  
    article p {
      margin: 0;
      font-size: 1.5em;
      text-align: center;
    }
  
    footer {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }
  
  }
  




